body {
    margin: 60px auto;
    width: 80%;
}

div {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.container-double {
    margin: auto;
}
.container-half-left {
    float: left;
    width: 49%;
    padding-bottom: 27.5625%;
    height: 0;
    position: relative;
}
.container-half-right {
    float: right;
    width: 49%;
    padding-bottom: 27.5625%;
    height: 0;
    position: relative;
}
.container-half-right iframe,
.container-half-right object,
.container-half-right embed,
.container-half-right video,
.container-half-left iframe,
.container-half-left object,
.container-half-left embed,
.container-half-left video,
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px grey;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.sidenav {
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
