body {
    margin: 60px auto;
    width: 70%;
}

div {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    width: 100%;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 
.container-double
{
    margin: auto;
}
.container-half-left {
    float: left;
    width: 50%;
    padding-bottom: 28.125%;
    height: 0;
}
.container-half-right {
    margin-left: 50%;
    padding-bottom: 28.125%;
    height: 0;
}
.container-half-right iframe,
.container-half-right object,
.container-half-right embed,
.container-half-right video,
.container-half-left iframe,
.container-half-left object,
.container-half-left embed,
.container-half-left video {
    width: 100%;
    height: 100%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
