<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/resume/">Resume</a></li>
				<li><a href="/personal/">Personal Work</a></li>
				<li><a href="/starchild/">Star Child</a></li>
				<li><a href="/superlucky/">Super Lucky's Tale</a></li>
				<li><a href="/university/">SMU Team Projects</a></li>
				<li><a href="/universitysolo/">SMU Solo Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:afleshner@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
